@model SFS_UI.Models.Card
@{
    SFS_UI.Models.ViewHelper helper = new SFS_UI.Models.ViewHelper();
    helper.ban_pictures = true;
}

@if (Model._name.Contains("//"))
{
    var cardFaces = Model.splitCardFaces();
    <div class="col-6 container border">
        <div class="row p-1">
            @foreach (var face in cardFaces)
            {
                <div class="col-9 mt-2">
                    <h4>@face.name</h4>
                </div>
                <div class="col-3">
                    @Html.Raw(helper.convertToHTML(face.mana_cost))
                </div>
                <div class="col-9">
                    <p>@face.type_line</p>
                </div>
                <div class="col-3">
                    <p>@Model.set_name</p>
                </div>
                <div class="col-12">
                    @Html.Raw(helper.convertToHTML(face.oracle_text))
                </div>
                @if (!face.flavor_text.Equals("!!none"))
                {
                    <div class="col-12 small flavorText">
                        <br />
                        @Html.Raw(helper.convertToHTML(face.flavor_text))
                    </div>
                }
                <div class="col-12 p-0 m-0">
                    <hr />
                    <p class="detailLine">@Model.set.ToUpper() @Model.DisplayNumber() @face.artist</p>
                    <hr />
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="col-6 container border">
        <div class="row p-1">
            <div class="col-9 mt-2">
                <h4>@Model._name</h4>
            </div>
            <div class="col-3">
                @Html.Raw(helper.convertToHTML(Model.mana_cost))
            </div>
            <div class="col-9">
                <p>@Model.type_line</p>
            </div>
            <div class="col-3">
                <p>@Model.set_name</p>
            </div>
            <div class="col-12">
                @Html.Raw(helper.convertToHTML(Model.oracle_text))
            </div>
            @if (!Model.flavor_text.Any())
            {
                <div class="col-12 small flavorText">
                    <br />
                    @Html.Raw(helper.convertToHTML(Model.flavor_text))
                </div>
            }
            <div class="col-12 p-0 m-0">
                <hr />
                <p class="detailLine">@Model.set.ToUpper() @Model.DisplayNumber() @Model.artist</p>
                <hr />
            </div>
        </div>
    </div>
}